{% extends 'authentication/emails/base.html' %}
{% load static i18n %}

{% block main-content %}
    <section style="width: 574px; margin: 50px auto">

          <div
            style="
              font-family: 'Lato', sans-serif;
              font-weight: bold;
              font-size: 20px;
              line-height: 28px;
              color: #262626;
              margin-top: 24px;
            "
          >
            {% trans 'You have been invited to join the' %} {{ organization_name }} {% trans 'organization' %}
            <span style="margin-left: 1px">
              <img
                style="max-height: 20px"
                src="./emojis/grinning-squinting.png"
                alt=""
              />
            </span>
          </div>

          <div
            style="
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #808080;
              margin-top: 24px;
            "
          >
            {% trans 'Uhuuul, now you can be one of us!' %}

            <p style="margin-top: 24px; margin-bottom: 0">
              {% trans 'A' %} <strong> {{ organization_name }} </strong> {% trans 'member just sent you an invitation to join the organization. To enter, just click on the button down and you will be redirected to a registration page. Case already have registration, just login' %}
              <span style="margin-left: 1px">
                <img
                  style="max-height: 16px"
                  src="./emojis/winking-face.png"
                  alt=""
                />
              </span>
            </p>
          </div>

          <div
            style="
              position: relative;
              cursor: pointer;
              margin: auto;
              width: 400px;
              text-align: center;
              background: #3b414d;
              color: #ffffff;
              font-size: 16px;
              font-family: 'Lato', sans-serif;
              margin-top: 48px;
              border-radius: 4px;
              padding: 12px 0;
              margin-bottom: 0;
            "
          >
            <a
              style="
                font-family: 'Lato', sans-serif;
                line-height: 24px;
                padding: 12px 64px;
                text-decoration: none;
                color: #FFF;
              " href="{{ webapp_base_url }}"
              >{% trans 'Click here to join the organization' %}</a>
          </div>
        </section>
{% endblock %}