{% extends 'authentication/emails/base.html' %}
{% load static %}
{% load i18n %}

{% block main-content %}
<section style="margin: 24px auto; padding: 0 32px">
  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #3b414d;
    "
  >
    {% trans 'Hi,' context 'invite-hi' %}
    {{ user_name }}!
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #3b414d;
      margin-top: 12px;
    "
  >
    {% trans "Welcome! We're excited to have you onboard." %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3b414d;
      margin-top: 12px;
    "
  >
    {% trans 'A member of' %}
    <strong>{{ organization_name }}</strong>
    {% trans 'has sent you an invitation to join their organization.' %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3b414d;
      margin-top: 12px;
    "
  >
    {% trans "To accept, simply click the button below and complete your registration. If you're already registered, just log in you account." %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3B414D;
      margin-top: 12px;
      margin-bottom: 32px;
    "
  >
    {% trans 'Best regards,' %}
    <br>
    {% trans 'Weni by VTEX Team' %}
  </div>

  <a href="{{ webapp_base_url }}" style="text-decoration: none">
    <div
      style="
        padding: 12px 16px;
        text-align: center;
        background: #00a49f;
        border-radius: 4px;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      "
    >
      {% trans 'Join org' %}
    </div>
  </a>
</section>
{% endblock %}
