{% extends 'authentication/emails/base.html' %}
{% load static i18n %}

{% block main-content %}
    <section style="width: 574px; margin: 50px auto">
          <div
            style="
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 24px;
              color: #808080;
            "
          >
            {% trans 'Hi,' %}
            <span
              style="
                font-family: 'Lato', sans-serif;
                color: #262626;
                font-size: 20px;
                font-weight: bold;
                font-style: normal;
              "
              >{{ first_name }}!</span
            >
          </div>

          <div
            style="
              font-family: 'Lato', sans-serif;
              font-weight: bold;
              font-size: 20px;
              line-height: 28px;
              color: #262626;
              margin-top: 24px;
            "
          >
            {% trans 'You just gave life to' %} {{ organization_name }}
            <span style="margin-left: 2px">
              <img
                style="max-height: 20px"
                src="{% static 'emojis/smiling-face-with-heart-eyes.png' %}"
                alt=""
              />
            </span>
          </div>

          <div
            style="
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #808080;
              margin-top: 24px;
            "
          >
            {% trans 'Your organization was successfully created! Now you can invite members to help you build projects and increasingly increase the way you automate your life with our Intelligences and Flows' %}
            <span style="margin-left: 1px">
              <img
                style="max-height: 16px"
                src="{% static 'emojis/blue-heart.png' %}"
                alt=""
              />
            </span>
          </div>
        </section>
{% endblock %}