[run]
source =
    ./connect/api
    ./connect/authentication
    ./connect/common
omit =
    ./connect/api/apps.py
    ./connect/common/apps.py
    ./connect/authentication/apps.py
    ./connect/api/v1/tests/*
    ./connect/api/grpc/*
    ./connect/api/v1/swagger.py
    ./connect/authentication/tests.py
    ./connect/authentication/signals.py
    ./connect/authentication/migrations/*
    ./connect/common/tests.py
    ./connect/common/tasks.py
    ./connect/common/signals.py
    ./connect/common/management/*
    ./connect/common/migrations/*

[report]
fail_under = 85
