[run]
source =
    ./connect/api
    ./connect/common
omit =
    ./connect/common/apps.py
    ./connect/api/v1/tests/*
    ./connect/common/tests.py
    ./connect/common/migrations/*

[report]
fail_under = 90
