[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=2.2.17"
djangorestframework = "~=3.12.2"
drf-yasg2 = "~=1.19.4"

[requires]
python_version = "3.6"
