[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.8.4"
black = "==20.8b1"
coverage = "~=5.3"

[packages]
django = "~=2.2.17"
djangorestframework = "~=3.12.2"
drf-yasg2 = "~=1.19.4"
django-environ = "~=0.4.5"
mozilla-django-oidc = "~=1.2.4"
django-filter = "~=2.4.0"
celery = "~=4.4.0"
django-celery-results = "~=1.1.2"
redis = "~=3.5.3"
django-celery-beat = "~=2.1.0"
psycopg2-binary = "~=2.7.7"
python-keycloak = "~=0.24.0"
boto3 = "~=1.16.44"
django-storages = "~=1.11.1"
pillow = "~=8.0.1"
filetype = "~=1.0.7"
django-cors-headers = "~=3.6.0"
whitenoise = "~=5.2.0"
sentry-sdk = "~=0.13.2"
elastic-apm = "~=5.9.0"
django-timezone-field = "~=3.0"

[requires]
python_version = "3.6"
