{% load static i18n %}
<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body style="display: flex;">
  <div style="margin: 0 auto;">
    <div style="width: 680px;">
      <header
        style="background: #F9F9F9; border-bottom: 1px solid #E2E6ED; display: flex; padding: 32px 0;">
        {% block logo %}
        <a style="display: block; padding: 10px; margin: auto; line-height: 0;" rel="nofollow" href="https://weni.ai/" target="_blank">
          <img src="https://weni-media-sp.s3.sa-east-1.amazonaws.com/logo/ab76181e-e71c-4e4d-9e58-faee28e601e3.png" alt="Weni-Logo"/>
        </a>
        {% endblock %}
      </header>
      {% block main-content %}{% endblock %}


      <footer style="padding: 0 32px; font-family: 'Lato', sans-serif; margin: auto; text-align: center;">
        <div style="margin: 0 auto 32px auto;">
          <div id="separator" style="width: 100%; height: 1px; background: #D0D3D9; margin-bottom: 24px;"></div>
          <div style="margin: 0 auto 24px auto; font-family: 'Lato', sans-serif; font-weight: 700;">
            <a style="cursor: pointer; margin-right: 32px; color: #00A49F; text-decoration: none;" target="_blank" href="https://weni.ai/">
              {% trans 'Our site' %}
            </a>
            <a style="cursor: pointer; margin-right: 32px; color: #00A49F; text-decoration: none;" target="_blank" href="https://www.facebook.com/WeniAi">
              Facebook
            </a>
            <a style="cursor: pointer; margin-right: 32px; color: #00A49F; text-decoration: none;" target="_blank" href="https://www.instagram.com/weni.ai/">
              Instagram
            </a>
            <a style="cursor: pointer; margin-right: 0px; color: #00A49F; text-decoration: none;" target="_blank" href="https://www.linkedin.com/company/weniai/mycompany/">
              Linkedin
            </a>
          </div>
          <div id="separator" style="width: 100%; height: 1px; background: #D0D3D9; margin-bottom: 24px;"></div>
          <div style="font-family: 'Lato', sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 20px; text-align: center; color: #3B414D">
            {% trans '2025 © Weni by VTEX. All rights reserved.' %}
          </div>
        </div>

        <div style="display: grid; margin: auto; color: #3B414D; text-align: center; font-family: 'Lato', sans-serif; font-size: 12px; font-style: normal; font-weight: normal; line-height: 20px;">
          {% trans 'You are receiving this mail because you registered in Weni platform. This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to receive mails from use, click the unsubscribe link below to unsubscribe.' %}
          <div style="display: inline-flex; margin: auto; margin-top: 8px;">
            <a href="https://weni.ai/en/privacy-policy/" target="_blank" style="color: #3B414D; text-decoration: none; font-size: 8px; line-height: 16px;">
              {% trans 'Privacy Policy' %}
            </a>
            <div id="circle" style="width: 4px; height: 4px; background: #D0D3D9; border-radius: 100%; margin: auto 5px;"></div>
            <a href="https://dash.weni.ai/terms-of-service-privacy-and-cookie-policy" target="_blank" style="color: #3B414D; text-decoration: none; font-size: 8px; line-height: 16px;">
              {% trans 'Terms of use' %}
            </a>
            <div id="circle" style="width: 4px; height: 4px; background: #D0D3D9; border-radius: 100%; margin: auto 5px;"></div>
            <a href="https://wenivtex.zendesk.com/hc/en-us" target="_blank" style="color: #3B414D; text-decoration: none; font-size: 8px; line-height: 16px;">
              {% trans 'Help Center' %}
            </a>
            <div id="circle" style="width: 4px; height: 4px; background: #D0D3D9; border-radius: 100%; margin: auto 5px;"></div>
            <a href="<%asm_group_unsubscribe_raw_url%>" style="color: #3B414D; text-decoration: none; font-size: 8px; line-height: 16px;">
              {% trans 'Unsubscribe' %}
            </a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>