{% extends 'authentication/emails/base.html' %}
{% load static i18n %}
{% block main-content %}

<section style="margin: 24px auto; padding: 0 32px">
  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #3b414d;
    "
  >
    {% trans 'Hi,' context 'formal-hi' %}
    <span
      style="
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #3b414d;
      "
    >
      {{ name }}!
    </span>
  </div>
  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3B414D;
      margin-top: 12px;
    "
  >
    {% trans 'Your password has been successfully changed. For your security and privacy, remember not to share it with anyone.' %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3B414D;
      margin-top: 12px;
    "
  >
    {% trans "If you didn't request this change, please contact our support team immediately." %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3b414d;
      margin-top: 12px;
      margin-bottom: 32px;
    "
  >
    {% trans 'Best regards,' %}
    <br />
    {% trans 'Weni by VTEX Team' %}
  </div>
</section>
{% endblock %}
