{% extends 'authentication/emails/base.html' %}
{% load static i18n %}

{% block main-content%}
<p>{% trans "Hi there!" %}</p>
<p>{% trans "Welcome to the Weni by VTEX Platform, an AI-powered customer experience solution for brands and retailers." %}</p>
<p>{% trans "Your registration was successful! To log in for the first time, please use the temporary password below:" %}</p>
<p>{{ password }}</p>
<p>{% trans "When logging in for the first time, you'll need to set up a new password of your choice." %}</p>
<p>{% trans "Important: Your password is personal and confidential. We recommend keeping it secure to protect your account." %}</p>
<p>{% trans "We wish you a fantastic experience with Weni by VTEX!" %}</p>
{% endblock %}
