{% extends 'authentication/emails/base.html' %}
{% load static i18n %}

{% block main-content %}
    <section style="width: 574px; margin: 50px auto">
          <div
            style="
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 24px;
              color: #808080;
            "
          >
            {% trans 'Hi,' %}
            <span
              style="
                font-family: 'Lato', sans-serif;
                color: #262626;
                font-size: 20px;
                font-weight: bold;
                font-style: normal;
              "
              >{{ first_name }}!</span
            >
          </div>

          <div
            style="
              font-family: 'Lato', sans-serif;
              font-weight: bold;
              font-size: 20px;
              line-height: 28px;
              color: #262626;
              margin-top: 24px;
            "
          >
            {% trans 'Your project has been successfully created!' %}
          </div>

          <div
            style="
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #808080;
              margin-top: 24px;
            "
          >
            {% trans 'The project' %} <strong>{{ project_name }}</strong> {% trans 'was created and you can now start the creation of Intelligences and Flows to transform the way you work' %}
            <span style="margin-left: 1px">
              <img
                style="max-height: 16px"
                src="./emojis/blue-heart.png"
                alt=""
              />
            </span>
            <p style="margin-top: 24px; margin-bottom: 0">
              {% trans 'Remember that everyone in the organization' %} <strong>{{ organization_name }}</strong> {% trans 'on what you created the project can view it, ok ?!' %}
            </p>
          </div>
        </section>
{% endblock %}