{% extends 'authentication/emails/base.html' %}
{% load static i18n %}

{% block main-content %}
  <section style="width: 574px; margin: 50px auto; font-family: 'Lato'">
    <div
      style="
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #808080;
      "
    >
      {% trans "Hi" %},
      <span
        style="
          font-family: 'Lato', sans-serif;
          color: #262626;
          font-size: 20px;
          font-weight: bold;
          font-style: normal;
        "
        >{{first_name}}!</span
      >
    </div>

    <div
      style="
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #262626;
        margin-top: 24px;
      "
    >
      {% trans "Information from the project" %} {{old_project_name}} {% trans "has changed" %}.
    </div>

    <div
      style="
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
        margin-top: 24px;
      "
    >
      {% trans "User" %} <strong>{{user}}</strong> 
      {% trans "made the following changes changes to the settings of the project" %}
      <strong>{{old_project_name}}</strong>, {% trans "from the organization" %}
      <strong>{{organization_name}}</strong> {% trans "that you are part of" %}:
    </div>

    <table
      style="border: 0px solid black; width: 100%; border-spacing: 0"
    >
      <tr>
        <td>
          <p style="color: #808080; margin-top: 24px; margin-bottom: 8px">
            {% trans "Project Name" %}
          </p>
        </td>
      </tr>
      <tr>
        <table
          style="
            background-color: #f5f6f6;
            width: 100%;
            padding: 16px 13px;
            border-radius: 4px;
          "
        >
          <tr style="width: 100%; font-size: 12px; color: #808080">
            <td style="width: 50%">{% trans "Before" %}</td>
            <td style="width: 50%">{% trans "Now" %}</td>
          </tr>
          <tr
            style="
              width: 100%;
              font-size: 16px;
              color: #4e5666;
              vertical-align: top;
            "
          >
            <td style="width: 50%; padding-top: 4px; padding-right: 8px">
              {{old_project_name}}
            </td>
            <td style="width: 50%; padding-top: 4px">{{project_name}}</td>
          </tr>
        </table>
      </tr>
      <tr>
        <td>
          <p style="color: #808080; margin-top: 24px; margin-bottom: 8px">
            {% trans "Date format" %}
          </p>
        </td>
      </tr>
      <tr>
        <table
          style="
            background-color: #f5f6f6;
            width: 100%;
            padding: 16px 13px;
            border-radius: 4px;
          "
        >
          <tr style="width: 100%; font-size: 12px; color: #808080">
            <td style="width: 50%">{% trans "Before" %}</td>
            <td style="width: 50%">{% trans "Now" %}</td>
          </tr>
          <tr
            style="
              width: 100%;
              font-size: 16px;
              color: #4e5666;
              vertical-align: top;
            "
          >
            <td style="width: 50%; padding-top: 4px; padding-right: 8px">
              {{date_before}}
            </td>
            <td style="width: 50%; padding-top: 4px">{{date_now}}</td>
          </tr>
        </table>
      </tr>
      <tr>
        <td>
          <p style="color: #808080; margin-top: 24px; margin-bottom: 8px">
            {% trans "Timezone"  %}
          </p>
        </td>
      </tr>
      <tr>
        <table
          style="
            background-color: #f5f6f6;
            width: 100%;
            padding: 16px 13px;
            border-radius: 4px;
          "
        >
          <tr style="width: 100%; font-size: 12px; color: #808080">
            <td style="width: 50%">{% trans "Before" %}</td>
            <td style="width: 50%">{% trans "Now" %}</td>
          </tr>
          <tr
            style="
              width: 100%;
              font-size: 14px;
              color: #4e5666;
              vertical-align: top;
            "
          >
            <td style="width: 50%; padding-top: 4px; padding-right: 8px">
              (GMT -03:00) {{timezone_before}}
            </td>
            <td style="width: 50%; padding-top: 4px">
              (GMT -03:00) {{timezone_now}}
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <td>
          <p style="color: #808080; margin-top: 24px; margin-bottom: 8px">
            {% trans 'Country for location support in Flows' %}
          </p>
        </td>
      </tr>
      <tr>
        <table
          style="
            background-color: #f5f6f6;
            width: 100%;
            padding: 16px 13px;
            border-radius: 4px;
          "
        >
          <tr style="width: 100%; font-size: 12px; color: #808080">
            <td style="width: 50%">{% trans "Before" %}</td>
            <td style="width: 50%">{% trans "Now" %}</td>
          </tr>
          <tr
            style="
              width: 100%;
              font-size: 14px;
              color: #4e5666;
              vertical-align: top;
            "
          >
            <td style="width: 50%; padding-top: 4px; padding-right: 8px">
              {{country_loc_suport_before}}
            </td>
            <td style="width: 50%; padding-top: 4px">{{country_loc_suport_now}}</td>
          </tr>
        </table>
      </tr>
      <tr>
        <td>
          <p style="color: #808080; margin-top: 24px; margin-bottom: 8px">
            {% trans "Flow Default Language" %}
          </p>
        </td>
      </tr>
      <tr>
        <table
          style="
            background-color: #f5f6f6;
            width: 100%;
            padding: 16px 13px;
            border-radius: 4px;
          "
        >
          <tr style="width: 100%; font-size: 12px; color: #808080">
            <td style="width: 50%">{% trans 'Before' %}</td>
            <td style="width: 50%">{% trans 'Now' %}</td>
          </tr>
          <tr
            style="
              width: 100%;
              font-size: 14px;
              color: #4e5666;
              vertical-align: top;
            "
          >
            <td style="width: 50%; padding-top: 4px; padding-right: 8px">
              {{default_lang_before}}
            </td>
            <td style="width: 50%; padding-top: 4px">{{default_lang_now}}</td>
          </tr>
        </table>
      </tr>
      <tr>
        <td>
          <p style="color: #808080; margin-top: 24px; margin-bottom: 8px">
            {% trans "Secondary Language of Flows" %}
          </p>
        </td>
      </tr>
      <tr>
        <table
          style="
            background-color: #f5f6f6;
            width: 100%;
            padding: 16px 13px;
            border-radius: 4px;
          "
        >
          <tr style="width: 100%; font-size: 12px; color: #808080">
            <td style="width: 50%">{% trans 'Before' %}</td>
            <td style="width: 50%">{% trans 'Now' %}</td>
          </tr>
          <tr
            style="
              width: 100%;
              font-size: 14px;
              color: #4e5666;
              vertical-align: top;
            "
          >
            <td style="width: 50%; padding-top: 4px; padding-right: 8px">
              {{secondary_lang_before}}
            </td>
            <td style="width: 50%; padding-top: 4px">{{secondary_lang_now}}</td>
          </tr>
        </table>
      </tr>
    </table>
  </section>
{% endblock %}