{% extends 'authentication/emails/base.html' %}
{% load static i18n %}

{% block main-content %}

<section style="margin: 24px auto">
  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #3b414d;
    "
  >
    {% trans 'Oh no,' %}
    <span
      style="
        font-family: 'Lato', sans-serif;
        color: #3b414d;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        font-style: normal;
      "
    >
      {{user_name}}!
    </span>
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3b414d;
      margin-top: 12px;
    "
  >
    {% trans "The plan for your organization" %}
    {{organization_name}},
    {% trans "has ended. As a result," %}
    <strong>{% trans "your intelligent agents are currently offline."%}</strong>
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3b414d;
      margin-top: 12px;
    "
  >
    {% trans "To keep using the Weni Platform, simply ask your organization's administrator" %}
    <strong>{% trans "to reactivate the plan" %}</strong>
    {% trans "or select a new one that meets your business needs." %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3b414d;
      margin-top: 12px;
    "
  >
    {% trans 'Our goal is to continue growing alongside you!' %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3b414d;
      margin-top: 12px;
      margin-bottom: 32px;
    "
  >
    {% trans 'Best regards,' %}
    <br />
    {% trans 'Weni by VTEX Team' %}
  </div>
</section>

{% endblock main-content %}
