{% extends 'authentication/emails/base.html' %}
{% load static i18n %}
{% block main-content %}

<section style="margin: 24px auto">
  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #3b414d;
    "
  >
    {% trans "Your projects are growing," %}
    {{ user_name }}!
    {% trans "Congratulations!" %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3B414D;
      margin-top: 12px;
    "
  >
    {% trans "Your organization has" %}
    <strong>{% trans "surpassed 200 active contacts." %}</strong>
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3B414D;
      margin-top: 12px;
    "
  >
    {% trans "This means that our free plan is no longer enough to keep up with the growth of" %}
    {{ organization_name }}.
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3B414D;
      margin-top: 12px;
    "
  >
    <strong>{% trans "To continue using your intelligent agents," %}</strong>
    {% trans "artificial intelligence, and all the other features of the Weni Platform," %}
    <strong>{% trans "choose a plan"%}</strong>
    {% trans "that aligns with your goals." %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3B414D;
      margin-top: 12px;
    "
  >
    {% trans "We're here to support you every step of the way!" context "free-plan-expired" %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3b414d;
      margin-top: 12px;
      margin-bottom: 32px;
    "
  >
    {% trans 'Best regards,' %}
    <br />
    {% trans 'Weni by VTEX Team' %}
  </div>
</section>
{% endblock %}
