{% extends 'authentication/emails/base.html' %}
{% load static i18n %}

{% block main-content %}
<section style="width: 574px; margin: 48px">
  <div style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: #808080;
    ">
    Olá,
    <span style="
        font-family: 'Lato', sans-serif;
        color: #262626;
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        font-style: normal;
      ">
      {{ user_name }}!
    </span>
  </div>

  <div style="
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #262626;
      margin-top: 24px;
    ">
    Sua organização está perto de atingir {{limit}} atendimentos.
  </div>

  <div style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #808080;
      margin-top: 24px;
    ">
    Quando você completar {{limit}} atendimentos, seu acesso à plataforma continua, mas seu chatbot não será capaz de
    disparar mensagens para seus usuários.
  </div>

  <div style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #808080;
      margin-top: 24px;
    ">
    Evite o bloqueio de seu chatbot acessando
    <a href="{{ webapp_billing_url }}"
      style="color: #009E96; text-decoration: underline; text-underline-offset: 4px;">{% trans 'Billing' %}</a>
    e escolha um plano que se adapte às suas necessidades comerciais.
  </div>
</section>
{% endblock %}
