{% extends 'authentication/emails/base.html' %}
{% load static i18n %}
{% block main-content %}

<section style="margin: 24px auto; padding: 0 32px;">
  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #3b414d;
    "
  >
    {% trans "Hi" %},
    <span
      style="
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #3B414D;
        margin-top: 12px;
      "
      >{{ user_name }}!</span
    >
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #3B414D;
      margin-top: 12px;
    "
  >
    {% trans "Your account needs urgent attention!" %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3B414D;
      margin-top: 12px;
    "
  >
    {% trans "The credit card for" %}
    {{ org_name }}
    {% trans "has been removed. This change has paused your plan's billing and deactivated you agents." %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3B414D;
      margin-top: 12px;
    "
  >
    {% trans "To continue using the Weni Platform, simply ask the administrator to update the card in the" %}
    <a href="{{ webapp_billing_url }}" style="color: #009E96; text-decoration: underline; text-underline-offset: 4px;">{% trans 'Billing' %}</a>
    {% trans "section. Once updated, everything will be back to normal!" %}
  </div>

  <div
    style="
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3b414d;
      margin-top: 12px;
      margin-bottom: 32px;
    "
  >
    {% trans 'Best regards,' %}
    <br />
    {% trans 'Weni by VTEX Team' %}
  </div>
</section>
{% endblock %}
